<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="please-password-update">パスワードの再設定</div>
      <%= hidden_field_tag :email, @user.email %>
      <div class="password-update-form-depend-on-device ui form">
        <div class="field">
          <div class="ui left aligned grid">
            <div class="wide column">
              <%= f.label :password, "新しいパスワード" %>
            </div>
          </div>
          <div class="ui left icon huge input">
            <%= f.password_field :password, :placeholder => "例：1234asdf" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left aligned grid">
            <div class="wide column">
              <%= f.label :password_confirmation, "新しいパスワード (確認)" %>
            </div>
          </div>
          <div class="ui left icon huge input">
            <%= f.password_field :password_confirmation, :placeholder => "例：1234asdf" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui center aligned grid">
          <%= button_tag :type => "submit", :class =>"ui blue submit button ten wide column", :id => "password-reset-page-frame-of-update" do %>
            <i class="undo alternate icon"></i>
            再設定する
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
