<div class="each-event ui center aligned grid">
  <div class="fourteen wide column">
    <ul class="frame-of-segment">
      <div class="ui left aligned raised segment">
        <% if event.picture? %>
          <%= image_tag event.picture.url, :class => "events-list-image" %>
        <% else %>
          <img class="events-list-image" src="/img/no-image.png">
        <% end %>
        <li class="event-name"><%= event.name %></li>
        <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
        <li class="event-organizer">
          <i class="user icon"></i>
          <%= event.organizer %>
        </li>
        <li class="event-place">
          <i class="map marker alternate icon"></i>
          <%= event.place %>
        </li>
        <li class="date">
          <i class="clock outline icon"></i>
          <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
        </li>
        <div class="ui center aligned grid">
          <div class="six wide column">
            <div class="detail-button ui center aligned grid">
              <div class="ui large gray fluid button">
                <i class="detail-link-icon search icon"></i>
                <%= link_to "詳細", event_path(event) %>
              </div>
            </div>
          </div>
          <div class="one wide column"></div>
          <div class="six wide column" id="like_button_<%= event.id %>">
            <%= render partial: 'favorites/button', locals: { event: event } %>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
