<%= form_for(@user) do |f| %>
  <div class="ui grid">
    <div class="two wide column"></div>

    <div class="twelve wide column">
      <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">

          <div class="one wide column"></div>

          <div class="thirteen wide column">
            <h1 class="center aligned">新規登録をしてください</h1>
            <div class="ui form">
              <div class="field">
                <%= f.label :name, 'ユーザー名' %>
                <div class="ui left icon huge input">
                  <%= f.text_field :name, :placeholder => "例：taro" %>
                  <i class="user icon"></i>
                </div>
              </div>

              <div class="field">
                <%= f.label :email, 'メールアドレス' %>
                <div class="ui left icon huge input">
                  <%= f.email_field :email, :placeholder => "例：case@example.com" %>
                  <i class="mail icon"></i>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, 'パスワード' %>
                <div class="ui left icon huge input">
                  <%= f.password_field :password, :placeholder => "例：1234asdf" %>
                  <i class="lock icon"></i>
                </div>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, 'パスワード (確認)' %>
                <div class="ui left icon huge input">
                  <%= f.password_field :password_confirmation, :placeholder => "例：1234asdf" %>
                  <i class="lock icon"></i>
                </div>
              </div>

            <div class="one wide column"></div>

            <div class="ui grid">
              <div class="five wide column"></div>

              <div class="seven wide column">
                <%= f.submit '新規登録', class: 'ui massive blue submit button' %>
              </div>

              <div class="four wide column"></div>
            </div>
          </div>

          <div class="ui horizontal divider">
            または
          </div>

          <div class="ui grid">
            <div class="five wide column"></div>

            <div class="seven wide column">
              <div class="ui massive button">
                <i class="sign in alternate icon"></i>
                <%= link_to 'ログイン', login_path %>
              </div>
            </div>

            <div class="four wide column"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="two wide column"></div>
  </div>
<% end %>
