<%= form_for(@user) do |f| %>
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="please-register-new" class="center aligned">新規登録</div>

      <div class="depend-on-device ui form">
        <div class="field">
          <div class="ui left aligned grid">
            <div class="signup-page-frame-of-name-label sixteen wide column">
              <%= f.label :name, 'ユーザー名' %>
            </div>
            <div class="signup-page-frame-of-name-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.text_field :name, :placeholder => "例：taro" %>
                <i class="user icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui left aligned grid">
            <div class="signup-page-frame-of-email-label sixteen wide column">
              <%= f.label :email, 'メールアドレス' %>
            </div>
            <div class="signup-page-frame-of-email-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.email_field :email, :placeholder => "例：case@example.com" %>
                <i class="mail icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui left aligned grid">
            <div class="signup-page-frame-of-password-label sixteen wide column">
              <%= f.label :password, 'パスワード' %>
            </div>
            <div class="signup-page-frame-of-password-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.password_field :password, :placeholder => "例：1234asdf" %>
                <i class="lock icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui left aligned grid">
            <div class="signup-page-frame-of-password-confirmation-label sixteen wide column">
              <%= f.label :password_confirmation, 'パスワード (確認)' %>
            </div>
            <div class="signup-page-frame-of-password-confirmation-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.password_field :password_confirmation, :placeholder => "例：1234asdf" %>
                <i class="lock icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="ui center aligned grid">
            <%= button_tag :type => "submit", :id => "signup-page-frame-of-signup", :class =>"ui blue submit button ten wide column" do %>
              <i class="pencil alternate icon"></i>
              新規登録
            <% end %>
          </div>
        </div>

        <div class="ui horizontal divider">または</div>

        <div class="field">
          <div class="ui center aligned grid">
            <div id="signup-page-frame-of-login" class="ui button ten wide column">
              <i class="sign in alternate icon"></i>
              <%= link_to 'ログイン', login_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
