<h1>お問い合わせ</h1>

<div class="edit_event">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div>入力内容にエラーがあります</div>
      <ul>
        <% @event.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <div><%= f.label :name, 'イベント名' %></div>
      <div><%= f.text_field :name %></div>
      <div><%= f.label :genre, 'ジャンル' %></div>
      <div><%= f.text_field :genre %></div>
      <div><%= f.label :organizer, '主催者' %></div>
      <div><%= f.text_field :organizer %></div>
      <div><%= f.label :place, '開催場所' %></div>
      <div><%= f.text_field :place %></div>
      <div><%= f.label :ticket_name, 'チケット名' %></div>
      <div><%= f.text_field :ticket_name %></div>
      <div><%= f.label :price, '料金' %></div>
      <div><%= f.text_field :price %></div>
      <div><%= f.label :date, '日付' %></div>
      <div><%= f.text_field :date %></div>
      <div><%= f.label :starting_time, '開始時間' %></div>
      <div><%= f.text_field :starting_time %></div>
      <div><%= f.label :ending_time, '終了時間' %></div>
      <div><%= f.text_field :ending_time %></div>
      <div><%= f.label :content, 'イベント内容' %></div>
      <div><%= f.text_area :content %></div>
      <div><%= f.label :cautionary_note, '注意点' %></div>
      <div><%= f.text_area :cautionary_note %></div>

      <%= f.submit '更新する' %>
  <% end %>
</div>
