<h1>イベントの更新</h1>

<div class="edit_event">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div>入力内容にエラーがあります</div>
      <ul>
        <% @event.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <div><%= f.label :name, 'イベント名' %></div>
      <div><%= f.text_field :name %></div>
      <div><%= f.label :genre, 'ジャンル' %></div>
      <div><%= f.text_field :genre %></div>
      <div><%= f.label :organizer, '主催者' %></div>
      <div><%= f.text_field :organizer %></div>
      <div><%= f.label :place, '開催場所' %></div>
      <div><%= f.text_field :place %></div>
      <div><%= f.label :ticket_name, 'チケット名' %></div>
      <div><%= f.text_field :ticket_name %></div>
      <div><%= f.label :price, '料金' %></div>
      <div><%= f.text_field :price %></div>
      <div><%= f.label :starting_year, '年' %></div>
      <div><%= f.text_field :starting_year %></div>
      <div><%= f.label :starting_month, '月' %></div>
      <div><%= f.text_field :starting_month %></div>
      <div><%= f.label :starting_day, '日' %></div>
      <div><%= f.text_field :starting_day %></div>
      <div><%= f.label :starting_hour, '時' %></div>
      <div><%= f.text_field :starting_hour %></div>
      <div><%= f.label :starting_minute, '分' %></div>
      <div><%= f.text_field :starting_minute %></div>
      <div><%= f.label :ending_year, '年' %></div>
      <div><%= f.text_field :ending_year %></div>
      <div><%= f.label :ending_month, '月' %></div>
      <div><%= f.text_field :ending_month %></div>
      <div><%= f.label :ending_day, '日' %></div>
      <div><%= f.text_field :ending_day %></div>
      <div><%= f.label :ending_hour, '時' %></div>
      <div><%= f.text_field :ending_hour %></div>
      <div><%= f.label :ending_minute, '分' %></div>
      <div><%= f.text_field :ending_minute %></div>
      <div><%= f.label :content, 'イベント内容' %></div>
      <div><%= f.text_area :content %></div>
      <div><%= f.label :cautionary_note, '注意点' %></div>
      <div><%= f.text_area :cautionary_note %></div>

      <%= f.submit '更新する' %>
  <% end %>
</div>
