<div id="events-list">
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="events-list-in-japanese">イベント一覧</div>
    </div>
  </div>
  <div class="ui center aligned grid" id="search-events">
    <div class="fourteen wide columm">
      <div class="item">
        <form action="/events" accept-charset="UTF-8" method="get">
          <div class="ui icon input">
            <input name="utf8" type="hidden" value="✓">
            <input type="text" name="search" placeholder="例：デザイン">
            <i class="search link icon"></i>
            <input type="submit" value="検索">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ui center aligned grid">
    <div :class="selectBoxColumn" id="select-box">
      <select class="ui dropdown select-box-show-events" v-eventchange>
        <option value="">イベント分類</option>
        <option value="all-events">イベント一覧</option>
        <option value="my-events">投稿したイベント</option>
        <option value="favorite-events">お気に入りのイベント</option>
        <option value="before-events">去年以前のイベント</option>
        <option value="current-events">今年のイベント</option>
        <option value="after-events">来年以降のイベント</option>
      </select>
    </div>
  </div>
  <div class="various-events-list">
    <div class="all-events-in-all-cases">
      <% if @all_events.empty? %>
        <%= render partial: "partials/events/no-event-message", locals: { message: "投稿されたイベントはまだ存在していません。", classname: "all-events" } %>
      <% else %>
        <div class="all-events animated bounce">
          <% @all_events.each do |event| %>
            <%= render partial: "partials/events/list", locals: { event: event } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="my-events-in-all-cases">
      <% if @current_user_events.empty? %>
        <% if current_user %>
          <%= render partial: "partials/events/no-event-message", locals: { message: "あなたが投稿したイベントはまだ存在していません。", classname: "my-events" } %>
        <% else %>
          <%= render partial: "partials/events/no-event-message", locals: { message: "あなたが投稿したイベントを確認するためにはログインする必要があります。", classname: "my-events" } %>
        <% end %>
      <% else %>
        <div class="my-events animated bounce">
          <% @current_user_events.each do |event| %>
            <%= render partial: "partials/events/list", locals: { event: event } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="favorite-events-in-all-cases">
      <% if @favorite_events.empty? %>
        <% if current_user %>
          <%= render partial: "partials/events/no-event-message", locals: { message: "お気に入りされたイベントはまだ存在していません。", classname: "favorite-events" } %>
        <% else %>
          <%= render partial: "partials/events/no-event-message", locals: { message: "お気に入りされたイベントを確認するためにはログインする必要があります。", classname: "favorite-events" } %>
        <% end %>
      <% else %>
        <div class="favorite-events animated bounce">
          <% @favorite_events.each do |event| %>
            <%= render partial: "partials/events/list", locals: { event: Event.find(event.id) } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="before-events-in-all-cases">
      <template v-if="isBeforeEvents == 'true'">
        <div class="before-events animated bounce" id="frame-of-before-events">
          <% @all_events.each do |event| %>
            <template v-if="new Date('<%= event.starting_year %>').getFullYear() < thisYear">
              <%= render partial: "partials/events/list", locals: { event: event } %>
            </template>
          <% end %>
        </div>
      </template>
      <template v-else>
        <%= render partial: "partials/events/no-event-message", locals: { message: "既に終了したイベントはまだ存在していません。", classname: "before-events" } %>
      </template>
    </div>
    <div class="current-events-in-all-cases">
      <template v-if="isCurrentEvents == 'true'">
        <div class="current-events animated bounce" id="frame-of-current-events">
          <% @all_events.each do |event| %>
            <template v-if="new Date('<%= event.starting_year %>').getFullYear() == thisYear">
              <%= render partial: "partials/events/list", locals: { event: event } %>
            </template>
          <% end %>
        </div>
      </template>
      <template v-else>
        <%= render partial: "partials/events/no-event-message", locals: { message: "現在開催中のイベントはまだ存在していません。", classname: "current-events" } %>
      </template>
    </div>
    <div class="after-events-in-all-cases">
      <template v-if="isAfterEvents == 'true'">
        <div class="after-events animated bounce" id="frame-of-after-events">
          <% @all_events.each do |event| %>
            <template v-if="new Date('<%= event.starting_year %>').getFullYear() > thisYear">
              <%= render partial: "partials/events/list", locals: { event: event } %>
            </template>
          <% end %>
        </div>
      </template>
      <template v-else>
        <%= render partial: "partials/events/no-event-message", locals: { message: "今後開催されるイベントはまだ存在していません。", classname: "after-events" } %>
      </template>
    </div>
  </div>
  <a href="javascript:void(0)" class="back-to-top" @click="movetoTop()">▲</a>
</div>

<script>
  const vm = new Vue({
    el: "#events-list",
    data: {
      selectBoxColumn: "",
      thisYear: new Date().getFullYear(),
      beforeEventsArray: [],
      currentEventsArray: [],
      afterEventsArray: [],
      isBeforeEvents: "",
      isCurrentEvents: "",
      isAfterEvents: "",
    },
    methods: {
      getDevice: function() {
        const ua = navigator.userAgent;
        if (ua.indexOf("iPhone") > 0 || ua.indexOf("iPod") > 0 || ua.indexOf("Android") > 0 && ua.indexOf("Mobile") > 0) {
          return "sp";
        } else if (ua.indexOf("iPad") > 0 || ua.indexOf("Android") > 0) {
          return "tab";
        } else {
          return "pc";
        };
      },
      judgeColumn: function() {
        const device = this.getDevice();
        if (device == "pc") {
          this.selectBoxColumn = "right aligned thirteen wide column";
        } else {
          this.selectBoxColumn = "right aligned fourteen wide column";
        };
      },
      judgeNumberofEvents: function() {
        <% @all_events.each do |event| %>
          var startingYear = new Date("<%= event.starting_year %>").getFullYear();
          if (startingYear < this.thisYear) {
            this.beforeEventsArray.push(event);
            this.isBeforeEvents = "true";
          } else if (startingYear == this.thisYear) {
            this.currentEventsArray.push(event);
            this.isCurrentEvents = "true";
          } else if (startingYear > this.thisYear) {
            this.afterEventsArray.push(event);
            this.isAfterEvents = "true";
          };
        <% end %>
      },
      makeDropdownMenu: function() {
        $('.ui.dropdown').dropdown();
      },
      selectDisplay: function(className, display) {
        let elements = document.getElementsByClassName(className);
        for(i = 0; i < elements.length; i++){
          elements[i].style.display = display;
        }
      },
      initialDisplay: function() {
        this.selectDisplay("all-events", "block");
        this.selectDisplay("my-events", "none");
        this.selectDisplay("favorite-events", "none");
        this.selectDisplay("before-events", "none");
        this.selectDisplay("current-events", "none");
        this.selectDisplay("after-events", "none");
      },
      showBacktoTop: function() {
        window.addEventListener("scroll", function() {
          let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
          scrollTop >= 50 ? $(".back-to-top").fadeIn() : $(".back-to-top").fadeOut();
        });
      },
      movetoTop: function() {
        $("html, body").animate({scrollTop: 0}, 600);
      },
      appearanceAnimation: function() {
        $(".animated").waypoint({
          handler: function(direction) {
            if (direction == "down") {
              $(this.element).addClass("fadeInUp");
              this.destroy();
            };
          },
          offset: "100%"
        });
      },
    },
    created: function() {
      this.judgeNumberofEvents();
      this.judgeColumn();
    },
    mounted: function() {
      this.makeDropdownMenu();
      this.initialDisplay();
      this.appearanceAnimation();
      this.showBacktoTop();
    },
    directives: {
      eventchange: {
        bind: function(el) {
          el.addEventListener("change", function() {
            let selectBoxVal = el.value;
            if (selectBoxVal == "all-events"){
              vm.selectDisplay("all-events", "block");
              vm.selectDisplay("my-events", "none");
              vm.selectDisplay("favorite-events", "none");
              vm.selectDisplay("before-events", "none");
              vm.selectDisplay("current-events", "none");
              vm.selectDisplay("after-events", "none");
            } else if (selectBoxVal == "my-events") {
              vm.selectDisplay("all-events", "none");
              vm.selectDisplay("my-events", "block");
              vm.selectDisplay("favorite-events", "none");
              vm.selectDisplay("before-events", "none");
              vm.selectDisplay("current-events", "none");
              vm.selectDisplay("after-events", "none");
            } else if (selectBoxVal == "favorite-events") {
              vm.selectDisplay("all-events", "none");
              vm.selectDisplay("my-events", "none");
              vm.selectDisplay("favorite-events", "block");
              vm.selectDisplay("before-events", "none");
              vm.selectDisplay("current-events", "none");
              vm.selectDisplay("after-events", "none");
            } else if (selectBoxVal == "before-events") {
              vm.selectDisplay("all-events", "none");
              vm.selectDisplay("my-events", "none");
              vm.selectDisplay("favorite-events", "none");
              vm.selectDisplay("before-events", "block");
              vm.selectDisplay("current-events", "none");
              vm.selectDisplay("after-events", "none");
            } else if (selectBoxVal == "current-events") {
              vm.selectDisplay("all-events", "none");
              vm.selectDisplay("my-events", "none");
              vm.selectDisplay("favorite-events", "none");
              vm.selectDisplay("before-events", "none");
              vm.selectDisplay("current-events", "block");
              vm.selectDisplay("after-events", "none");
            } else if (selectBoxVal == "after-events") {
              vm.selectDisplay("all-events", "none");
              vm.selectDisplay("my-events", "none");
              vm.selectDisplay("favorite-events", "none");
              vm.selectDisplay("before-events", "none");
              vm.selectDisplay("current-events", "none");
              vm.selectDisplay("after-events", "block");
            };
          });
        }
      }
    }
  });
</script>
