<% before_events_array = [] %>
<% current_events_array = [] %>
<% after_events_array = [] %>

<div class="ui modal">
  <div id="modal-header">このアプリの使い方</div>

  <div id="frame-of-carousel-image" class="ui center aligned grid">
    <div class="carousel-image content center aligned fourteen wide column">
      <img class="operation-image" src="/img/events/event1.jpg"/>
      <img class="operation-image" src="/img/events/event2.jpg"/>
      <img class="operation-image" src="/img/events/event1.jpg"/>
      <img class="operation-image" src="/img/events/event2.jpg"/>
      <img class="operation-image" src="/img/events/event1.jpg"/>
    </div>
  </div>

  <div class="ui center aligned grid">
    <div class="carousel-explanation content left aligned fourteen wide column">
      <p>〇〇をタップして〇〇画面に移動します。</p>
      <p>イベントの情報を入力します。</p>
      <p>投稿ボタンを押してイベントを投稿します。</p>
      <p>地図中のマーカーをタップまたはクリックすると、そのイベントの名前と場所が表示されます。</p>
      <p>もし、そのイベントの詳細情報を知りたい場合は、吹き出しをタップまたはクリックします。</p>
    </div>
  </div>

  <div class="ui center aligned slick-dotted">
    <ul class="slick-dots" id="original-dots"></ul>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="center aligned seven wide column">
        <button class="ui fluid red button">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned grid">
  <div class="fourteen wide column">
    <div id="events-list-in-japanese">イベント一覧</div>
  </div>
</div>

<div class="ui center aligned grid" id="search-events">
  <div class="fourteen wide columm">
    <div class="item">
      <form action="/events" accept-charset="UTF-8" method="get">
        <div class="ui icon input">
          <input name="utf8" type="hidden" value="✓">
          <input type="text" name="search" placeholder="例：サッカー">
          <i class="search link icon"></i>
          <input type="submit" value="検索">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="ui center aligned grid">
  <div id="select-box" class="right aligned fourteen wide column">
    <select class="select-box-show-events">
      <option value="all-events">イベント一覧</option>
      <option value="my-events">自分の投稿したイベント</option>
      <option value="before-events">既に終了したイベント</option>
      <option value="current-events">現在開催中のイベント</option>
      <option value="after-events">今後開催されるイベント</option>
    </select>
  </div>
</div>

<div class="various-events-list">
  <div class="all-events animated bounce">
    <% if @all_events.empty? then %>
      <div class="ui center aligned grid">
        <div class="ten wide column">
          投稿されたイベントはまだ存在していません。
        </div>
      </div>
    <% else %>
      <% @all_events.each do |event| %>
        <div class="each-event ui center aligned grid">
          <div class="fourteen wide column">
            <ul class="frame-of-segment frame-of-segment-<%= event.id %>">
              <div class="ui left aligned raised segment">
                <img class="events-list-image" src="/img/events/event1.jpg">
                <li class="event-name"><%= event.name %></li>
                <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
                <li class="event-organizer">
                  <i class="user icon"></i>
                  <%= event.organizer %>
                </li>
                <li class="event-place">
                  <i class="map marker alternate icon"></i>
                  <%= event.place %>
                </li>
                <li class="date">
                  <i class="clock outline icon"></i>
                  <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-events animated bounce">
    <% if @current_user_events.empty? then %>
      <div class="ui center aligned grid">
        <div class="ten wide column">
          あなたが投稿したイベントはまだ存在していません。
        </div>
      </div>
    <% else %>
      <% @current_user_events.each do |event| %>
        <div class="each-event ui center aligned grid">
          <div class="fourteen wide column">
            <ul class="frame-of-segment frame-of-segment-<%= event.id %>">
              <div class="ui left aligned raised segment">
                <img class="events-list-image" src="/img/events/event1.jpg">
                <li class="event-name"><%= event.name %></li>
                <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
                <li class="event-organizer">
                  <i class="user icon"></i>
                  <%= event.organizer %>
                </li>
                <li class="event-place">
                  <i class="map marker alternate icon"></i>
                  <%= event.place %>
                </li>
                <li class="date">
                  <i class="clock outline icon"></i>
                  <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="frame-of-before-events" class="before-events animated bounce">
    <% @all_events.each do |event| %>
      <% current_time = Time.now %>

      <% starting_year = event.starting_year %>
      <% starting_month = event.starting_month %>
      <% starting_day = event.starting_day %>
      <% starting_hour = event.starting_hour %>
      <% starting_minute = event.starting_minute %>

      <% ending_year = event.ending_year %>
      <% ending_month = event.ending_month %>
      <% ending_day = event.ending_day %>
      <% ending_hour = event.ending_hour %>
      <% ending_minute = event.ending_minute %>

      <% starting_date_time = Time.new(starting_year, starting_month, starting_day, starting_hour, starting_minute) %>
      <% ending_date_time = Time.new(ending_year, ending_month, ending_day, ending_hour, ending_minute) %>

      <% if ending_date_time < current_time then %>
        <% before_events_array.push(event) %>
      <% elsif starting_date_time < current_time && current_time < ending_date_time then %>
        <% current_events_array.push(event) %>
      <% elsif current_time < starting_date_time then %>
        <% after_events_array.push(event) %>
      <% end %>

      <% if ending_date_time < current_time then %>
        <div class="each-event ui center aligned grid">
          <div class="fourteen wide column">
            <ul class="frame-of-segment frame-of-segment-<%= event.id %>">
              <div class="ui left aligned raised segment">
                <img class="events-list-image" src="/img/events/event1.jpg">
                <li class="event-name"><%= event.name %></li>
                <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
                <li class="event-organizer">
                  <i class="user icon"></i>
                  <%= event.organizer %>
                </li>
                <li class="event-place">
                  <i class="map marker alternate icon"></i>
                  <%= event.place %>
                </li>
                <li class="date">
                  <i class="clock outline icon"></i>
                  <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="frame-of-current-events" class="current-events animated bounce">
    <% @all_events.each do |event| %>
      <% current_time = Time.now %>

      <% starting_year = event.starting_year %>
      <% starting_month = event.starting_month %>
      <% starting_day = event.starting_day %>
      <% starting_hour = event.starting_hour %>
      <% starting_minute = event.starting_minute %>

      <% ending_year = event.ending_year %>
      <% ending_month = event.ending_month %>
      <% ending_day = event.ending_day %>
      <% ending_hour = event.ending_hour %>
      <% ending_minute = event.ending_minute %>

      <% starting_date_time = Time.new(starting_year, starting_month, starting_day, starting_hour, starting_minute) %>
      <% ending_date_time = Time.new(ending_year, ending_month, ending_day, ending_hour, ending_minute) %>

      <% if ending_date_time < current_time then %>
        <% before_events_array.push(event) %>
      <% elsif starting_date_time < current_time && current_time < ending_date_time then %>
        <% current_events_array.push(event) %>
      <% elsif current_time < starting_date_time then %>
        <% after_events_array.push(event) %>
      <% end %>

      <% if starting_date_time < current_time && current_time < ending_date_time then %>
        <div class="each-event ui center aligned grid">
          <div class="fourteen wide column">
            <ul class="frame-of-segment frame-of-segment-<%= event.id %>">
              <div class="ui left aligned raised segment">
                <img class="events-list-image" src="/img/events/event1.jpg">
                <li class="event-name"><%= event.name %></li>
                <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
                <li class="event-organizer">
                  <i class="user icon"></i>
                  <%= event.organizer %>
                </li>
                <li class="event-place">
                  <i class="map marker alternate icon"></i>
                  <%= event.place %>
                </li>
                <li class="date">
                  <i class="clock outline icon"></i>
                  <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="frame-of-after-events" class="after-events animated bounce">
    <% @all_events.each do |event| %>
      <% current_time = Time.now %>

      <% starting_year = event.starting_year %>
      <% starting_month = event.starting_month %>
      <% starting_day = event.starting_day %>
      <% starting_hour = event.starting_hour %>
      <% starting_minute = event.starting_minute %>

      <% ending_year = event.ending_year %>
      <% ending_month = event.ending_month %>
      <% ending_day = event.ending_day %>
      <% ending_hour = event.ending_hour %>
      <% ending_minute = event.ending_minute %>

      <% starting_date_time = Time.new(starting_year, starting_month, starting_day, starting_hour, starting_minute) %>
      <% ending_date_time = Time.new(ending_year, ending_month, ending_day, ending_hour, ending_minute) %>

      <% if ending_date_time < current_time then %>
        <% before_events_array.push(event) %>
      <% elsif starting_date_time < current_time && current_time < ending_date_time then %>
        <% current_events_array.push(event) %>
      <% elsif current_time < starting_date_time then %>
        <% after_events_array.push(event) %>
      <% end %>

      <% if current_time < starting_date_time then %>
        <div class="each-event ui center aligned grid">
          <div class="fourteen wide column">
            <ul class="frame-of-segment frame-of-segment-<%= event.id %>">
              <div class="ui left aligned raised segment">
                <img class="events-list-image" src="/img/events/event1.jpg">
                <li class="event-name"><%= event.name %></li>
                <li class="event-created-at">投稿日：<%= event.created_at.strftime("%Y/%m/%d") %></li>
                <li class="event-organizer">
                  <i class="user icon"></i>
                  <%= event.organizer %>
                </li>
                <li class="event-place">
                  <i class="map marker alternate icon"></i>
                  <%= event.place %>
                </li>
                <li class="date">
                  <i class="clock outline icon"></i>
                  <%= event.starting_year %>/<%= event.starting_month %>/<%= event.starting_day %> <%= event.starting_hour %>:<%= event.starting_minute %> 〜 <%= event.ending_year %>/<%= event.ending_month %>/<%= event.ending_day %> <%= event.ending_hour %>:<%= event.ending_minute %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if before_events_array.empty? then %>
    <div class="before-events ui center aligned grid">
      <div class="center aligned ten wide column">
        <div class="animated bounce">
          既に終了したイベントはまだ存在していません。
        </div>
      </div>
    </div>
  <% end %>
  <% if current_events_array.empty? then %>
    <div class="current-events ui center aligned grid">
      <div class="center aligned ten wide column">
        <div class="center aligned animated bounce">
          現在開催中のイベントはまだ存在していません。
        </div>
      </div>
    </div>
  <% end %>
  <% if after_events_array.empty? then %>
    <div class="after-events ui center aligned grid">
      <div class="ten wide column">
        <div class="animated bounce">
          今後開催されるイベントはまだ存在していません。
        </div>
      </div>
    </div>
  <% end %>
</div>

<a href="#" class="back-to-top">▲</a>

<script>
  <% @all_events.each do |event| %>
    $(".frame-of-segment-"+"<%= event.id %>").click(function() {
      location.href = "/events/" + "<%= event.id %>"
    });
  <% end %>

  function scrollUpButton() {
    if ($(this).scrollTop() >= 300) {
      $(".back-to-top").fadeIn();
    } else {
      $(".back-to-top").fadeOut();
    }
  }

  $(document).ready(function() {
    scrollUpButton();

    $(window).scroll(scrollUpButton);

    $(".back-to-top").click(function() {
      $("html, body").animate(
        {
          scrollTop: 0
        },
        600
      );

      return false;
    });
  });

  window.onload = function() {
    if($.cookie('btnFlg') !== 'on') {
      $('.ui.modal')
        .modal('show')
      ;
    }

    $(".actions .ui.grid .column .button").click(function(){
      $.cookie('btnFlg', 'on', { expires: 30,path: '/' });
    });

    $('.carousel-image').slick({
      asNavFor: '.carousel-explanation',
      dots: true,
      arrows: false,
      appendDots:$("#original-dots"),
    });

    $('.carousel-explanation').slick({
      asNavFor: '.carousel-image',
      arrows: false,
      fade: true,
    });
  };

  $(document).ready(function() {
    $(".animated").waypoint({
      handler: function(direction) {
        if (direction === "down") {
          $(this.element).addClass("fadeInUp");

          this.destroy();
        }
      },

      offset: "100%"
    });
  });

  $(".select-box-show-events").change(function() {
    var selectBoxVal = $(".select-box-show-events").val();

    if(selectBoxVal == "all-events") {
      $('.all-events').css('display', 'block');
      $('.my-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "my-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'block');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "before-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.before-events').css('display', 'block');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "current-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'block');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "after-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'block');
    }
  });

  $('.all-events').css('display', 'block');
  $('.my-events').css('display', 'none');
  $('.before-events').css('display', 'none');
  $('.current-events').css('display', 'none');
  $('.after-events').css('display', 'none');
</script>
