<% current_time = Time.now %>

<% before_events_array = [] %>
<% current_events_array = [] %>
<% after_events_array = [] %>

<div class="ui modal">
  <div id="modal-header">このアプリの使い方</div>
  <div class="ui center aligned grid" id="frame-of-carousel-image">
    <div class="carousel-image content center aligned fourteen wide column">
      <img class="operation-image" src="/img/no-image2.png"/>
      <img class="operation-image" src="/img/no-image2.png"/>
      <img class="operation-image" src="/img/no-image2.png"/>
      <img class="operation-image" src="/img/no-image2.png"/>
      <img class="operation-image" src="/img/no-image2.png"/>
    </div>
  </div>
  <div class="ui center aligned grid">
    <div class="carousel-explanation content left aligned fourteen wide column">
      <p>イベントを投稿したい場合は "イベント投稿" をタップします。</p>
      <p>イベントの詳細を入力して投稿ボタンを押すとイベントを投稿できます。</p>
      <p>様々なイベントの表示する場合は "イベント一覧" をタップします。</p>
      <p>イベントの表示方法は画面内のセレクトボックスから変更できます。</p>
      <p>あるイベントの詳細情報を知りたい場合は、そのイベントの詳細ボタンをタップしましょう。</p>
    </div>
  </div>
  <div class="slick-dotted ui center aligned grid">
    <ul class="slick-dots" id="original-dots"></ul>
  </div>
  <div class="actions">
    <div class="ui center aligned grid">
      <div class="center aligned seven wide column">
        <button class="ui fluid red button">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned grid">
  <div class="fourteen wide column">
    <div id="events-list-in-japanese">イベント一覧</div>
  </div>
</div>
<div class="ui center aligned grid" id="search-events">
  <div class="fourteen wide columm">
    <div class="item">
      <form action="/events" accept-charset="UTF-8" method="get">
        <div class="ui icon input">
          <input name="utf8" type="hidden" value="✓">
          <input type="text" name="search" placeholder="例：サッカー">
          <i class="search link icon"></i>
          <input type="submit" value="検索">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="ui center aligned grid">
  <div class="right aligned fourteen wide column" id="select-box">
    <select class="select-box-show-events">
      <option value="all-events">イベント一覧</option>
      <option value="my-events">自分の投稿したイベント</option>
      <option value="favorite-events">お気に入りしたイベント</option>
      <option value="before-events">既に終了したイベント</option>
      <option value="current-events">現在開催中のイベント</option>
      <option value="after-events">今後開催されるイベント</option>
    </select>
  </div>
</div>
<div class="various-events-list">
  <% if @all_events.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "投稿されたイベントはまだ存在していません。", classname: "all-events" } %>
  <% else %>
    <div class="all-events animated bounce">
      <% @all_events.each do |event| %>
        <%= render partial: "partials/events/list", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>
  <% if @current_user_events.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "あなたが投稿したイベントはまだ存在していません。", classname: "my-events" } %>
  <% else %>
    <div class="my-events animated bounce">
      <% @current_user_events.each do |event| %>
        <%= render partial: "partials/events/list", locals: { event: event } %>
      <% end %>
    </div>
  <% end %>
  <% if @favorite_events.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "投稿されたイベントはまだ存在していません。", classname: "favorite-events" } %>
  <% else %>
    <div class="favorite-events animated bounce">
      <% @favorite_events.each do |event| %>
        <%= render partial: "partials/events/list", locals: { event: Event.find(event.id) } %>
      <% end %>
    </div>
  <% end %>
  <div class="before-events animated bounce" id="frame-of-before-events">
    <% @all_events.each do |event| %>
      <% ending_date_time = Time.new(event.ending_year, event.ending_month, event.ending_day, event.ending_hour, event.ending_minute) %>

      <% if ending_date_time < current_time then %>
        <% before_events_array.push(event) %>
        <%= render partial: "partials/events/list", locals: { event: event } %>
      <% end %>
    <% end %>
  </div>
  <div class="current-events animated bounce" id="frame-of-current-events">
    <% @all_events.each do |event| %>
      <% starting_date_time = Time.new(event.starting_year, event.starting_month, event.starting_day, event.starting_hour, event.starting_minute) %>
      <% ending_date_time = Time.new(event.ending_year, event.ending_month, event.ending_day, event.ending_hour, event.ending_minute) %>

      <% if starting_date_time < current_time && current_time < ending_date_time then %>
        <% current_events_array.push(event) %>
        <%= render partial: "partials/events/list", locals: { event: event } %>
      <% end %>
    <% end %>
  </div>
  <div class="after-events animated bounce" id="frame-of-after-events">
    <% @all_events.each do |event| %>
      <% starting_date_time = Time.new(event.starting_year, event.starting_month, event.starting_day, event.starting_hour, event.starting_minute) %>

      <% if current_time < starting_date_time then %>
        <% after_events_array.push(event) %>
        <%= render partial: "partials/events/list", locals: { event: event } %>
      <% end %>
    <% end %>
  </div>
  <% if before_events_array.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "既に終了したイベントはまだ存在していません。", classname: "before-events" } %>
  <% end %>
  <% if current_events_array.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "現在開催中のイベントはまだ存在していません。", classname: "current-events" } %>
  <% end %>
  <% if after_events_array.empty? then %>
    <%= render partial: "partials/events/no-event-message", locals: { message: "今後開催されるイベントはまだ存在していません。", classname: "after-events" } %>
  <% end %>
</div>
<a href="#" class="back-to-top">▲</a>

<script>
  (function() {
    if($.cookie('btnFlg') !== 'on') {
      $('.ui.modal')
        .modal('show')
      ;
    }

    $(".actions .ui.grid .column .button").click(function(){
      $.cookie('btnFlg', 'on', { expires: 30,path: '/' });
    });
  })();

  (function() {
    $('.carousel-image').slick({
      asNavFor: '.carousel-explanation',
      dots: true,
      arrows: false,
      appendDots:$("#original-dots"),
    });

    $('.carousel-explanation').slick({
      asNavFor: '.carousel-image',
      arrows: false,
      fade: true,
    });
  })();

  (function() {
    $(".animated").waypoint({
      handler: function(direction) {
        if (direction === "down") {
          $(this.element).addClass("fadeInUp");

          this.destroy();
        }
      },

      offset: "100%"
    });
  })();

  (function() {
    function displaySwitching() {
      if ($(this).scrollTop() >= 300) {
        $(".back-to-top").fadeIn();
      } else {
        $(".back-to-top").fadeOut();
      }
    }

    $(window).scroll(displaySwitching);

    $(".back-to-top").click(function() {
      $("html, body").animate({
        scrollTop: 0
      },
        600
      );

      return false;
    });
  })();

  $(".select-box-show-events").change(function() {
    var selectBoxVal = $(".select-box-show-events").val();

    if(selectBoxVal == "all-events") {
      $('.all-events').css('display', 'block');
      $('.my-events').css('display', 'none');
      $('.favorite-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "my-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'block');
      $('.favorite-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "favorite-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.favorite-events').css('display', 'block');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "before-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.favorite-events').css('display', 'none');
      $('.before-events').css('display', 'block');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "current-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.favorite-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'block');
      $('.after-events').css('display', 'none');
    }else if(selectBoxVal == "after-events") {
      $('.all-events').css('display', 'none');
      $('.my-events').css('display', 'none');
      $('.favorite-events').css('display', 'none');
      $('.before-events').css('display', 'none');
      $('.current-events').css('display', 'none');
      $('.after-events').css('display', 'block');
    }
  });

  $('.all-events').css('display', 'block');
  $('.my-events').css('display', 'none');
  $('.favorite-events').css('display', 'none');
  $('.before-events').css('display', 'none');
  $('.current-events').css('display', 'none');
  $('.after-events').css('display', 'none');
</script>
