<div id="event-details">
  <div class="ui center aligned grid">
    <div id="frame-of-event-details-image" class="fourteen wide column">
      <% if @event.picture? %>
        <%= image_tag @event.picture.url, :id => "event-details-image" %>
      <% else %>
        <img class="ui segment" id="event-details-image" src="/img/no-image.png">
      <% end %>
    </div>
    <div class="left aligned fourteen wide column">
      <div id="event-name">
        <%= @event.name %>
      </div>
      <div class="ui right aligned grid">
        <div class="right aligned ten wide column" id="event-created-or-updated-date">
          <div>投稿日：<%= @event.created_at.strftime("%Y/%m/%d") %></div>
          <div>更新日：<%= @event.updated_at.strftime("%Y/%m/%d") %></div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">イベント詳細</div>
      <div class="event-content" id="event-content" ref="eventContent">
        <template v-if="<%= @event.content.length %> <= 300">
          <%= @event.content %>
        </template>
        <template v-else>
          <span><%= @event.content[0..299] %></span>
          <span id="content-continue-icon" ref="contentContinueIcon">・・・</span>
          <span class="after-display-sentence" id="content-after-display-sentence" ref="contentAfterDisplaySentence">
            <%= @event.content[300..] %>
          </span>
          <div class="see-more ui bottom attached basic button" id="content-see-more" ref="contentSeeMore" tabindex="0" @click="seeMoreContent()">
            もっと見る
          </div>
          <div class="close-see-more ui bottom attached basic button" id="content-close-see-more" ref="contentCloseSeeMore" tabindex="0" @click="closeSeeMoreContent()">
            閉じる
          </div>
        </template>
      </div>
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">開催日時</div>
      <div id="event-date">
        <%= @event.starting_year %>/<%= @event.starting_month %>/<%= @event.starting_day %> <%= @event.starting_hour %>:<%= @event.starting_minute %> 〜 <%= @event.ending_year %>/<%= @event.ending_month %>/<%= @event.ending_day %> <%= @event.ending_hour %>:<%= @event.ending_minute %>
      </div>
      <svg id="time-chart"></svg>
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">開催場所</div>
      <div id="event-place">
        <%= @event.place %>
      </div>
    </div>
  </div>
  <div id="event-detail-page-map" ref="eventDetailPageMap"></div>
  <div class="ui center aligned grid">
    <div class="left aligned fourteen wide column">
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">料金</div>
      <div id="event-price">
        <%= @event.ticket_name %>：<%= @event.price %> 円
      </div>
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">主催者</div>
      <div id="event-organizer">
        <%= @event.organizer %> <br>
        <a href="http://yahoo.co.jp">主催者に問い合わせる</a>
      </div>
      <div class="ui divider"></div>
      <div class="subheading-of-event-details">注意点</div>
      <div class="event-cautionary-note" id="event-cautionary-note" ref="eventCautionaryNote">
        <template v-if="<%= @event.cautionary_note.empty? %>">
          なし
        </template>
        <template v-else-if="<%= @event.cautionary_note.length %> <= 300">
          <%= @event.cautionary_note %>
        </template>
        <template v-else>
          <span><%= @event.cautionary_note[0..299] %></span>
          <span id="cautionary-note-continue-icon" ref="cautionaryContinueIcon">・・・</span>
          <span class="after-display-sentence" id="cautionary-note-after-display-sentence" ref="cautionaryAfterDisplaySentence">
            <span><%= @event.cautionary_note[300..] %></span>
          </span>
          <div class="see-more ui bottom attached basic button" id="cautionary-note-see-more" ref="cautionarySeeMore" tabindex="0" @click="seeMoreCautionaryNote()">
            もっと見る
          </div>
          <div class="close-see-more ui bottom attached basic button" id="cautionary-note-close-see-more" ref="cautionaryCloseSeeMore" tabindex="0" @click="closeSeeMoreCautionaryNote()">
            閉じる
          </div>
        </template>
      </div>
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="frame-of-button-to-event-page">
    <div class="ui center aligned grid">
      <div class="ui button ten wide column" id="button-to-events-list">
        <%= link_to 'イベント一覧', events_path %>
      </div>
    </div>
    <% if current_user == @event.user %>
      <div class="ui center aligned grid">
        <div class="ui button ten wide column" id="button-to-edit-event">
          <%= link_to 'イベント編集', edit_event_path(@event) %>
        </div>
      </div>
      <div class="ui center aligned grid">
        <div class="ui red button ten wide column" id="button-to-delete-event">
          <%= link_to "イベント削除", @event, method: :delete, data: { confirm: "本当に削除しても大丈夫ですか?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  var vm = new Vue({
    el: "#event-details",
    methods: {
      getDevice: function() {
        var ua = navigator.userAgent;
        if (ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) {
          return 'sp';
        } else if (ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0) {
          return 'tab';
        } else {
          return 'pc';
        };
      },
      makeTimeChart: function() {
        var device = this.getDevice();

        var eventStartingTime = new Date(<%= @event.starting_year %>, <%= @event.starting_month %>, <%= @event.starting_day %>, <%= @event.starting_hour %>, <%= @event.starting_minute %>);
        var eventEndingTime = new Date(<%= @event.ending_year %>, <%= @event.ending_month %>, <%= @event.ending_day %>, <%= @event.ending_hour %>, <%= @event.ending_minute %>);

        var eventStartingDay = new Date(<%= @event.starting_year %>, <%= @event.starting_month %>, <%= @event.starting_day %>);
        var eventStartingNextDay = new Date(<%= @event.starting_year %>, <%= @event.starting_month %>, <%= @event.starting_day %>);
        var eventStartingRealNextDay = eventStartingNextDay.getDate() + 1;
        eventStartingNextDay.setDate(eventStartingRealNextDay);

        var width = window.innerWidth * 0.875;
        var height = 150;

        if (device == "pc") {
          var margin = {
            top: 30,
            right: 20,
            bottom: 10,
            left: 20
          };
        } else {
          var margin = {
            top: 50,
            right: 10,
            bottom: 10,
            left: 10
          };
        };
        var eventData = [{
          key: 1,
          name: '<%= @event.name %>',
          start: eventStartingTime,
          end: eventEndingTime
        }];
        var labels = d3.nest()
          .key(function(d) {
            return d.key;
          })
          .entries(eventData);
        var svg = d3.select("#time-chart")
          .attr({
            width: width,
            height: height
          });
        var x = d3.time.scale()
          .domain([
            eventStartingDay,
            eventStartingNextDay
          ])
          .clamp(true)
          .range([0, width - (margin.left + margin.right)]);
        if (device == "pc") {
          var xAxis = d3.svg.axis()
            .scale(x)
            .orient('top')
            .ticks(d3.time.hours, 1)
            .tickFormat(d3.time.format('%H:00'))
            .innerTickSize(-(height - (margin.top + margin.bottom)))
            .outerTickSize(0);
        } else {
          var xAxis = d3.svg.axis()
            .scale(x)
            .orient('top')
            .ticks(d3.time.hours, 2)
            .tickFormat(d3.time.format('%H:00'))
            .innerTickSize(-(height - (margin.top + margin.bottom)))
            .outerTickSize(0);
        };
        var y = d3.scale.ordinal()
          .domain(labels.map(function(d) {
            return d.key;
          }))
          .rangeRoundBands([margin.top, height - margin.bottom], 0.5);
        var yAxis = d3.svg.axis()
          .scale(y)
          .orient('left')
          .innerTickSize(0)
          .outerTickSize(0);

        svg.append('g')
          .attr({
            class: 'axis x-axis',
            transform: 'translate(' + margin.left + ', ' + margin.top + ')'
          })
          .call(xAxis)
          .selectAll('text')
          .attr('transform', function() {
            if (width <= 768) {
              return 'translate(7, -15) rotate(-90)';
            } else if (768 < width && width < 980) {
              return 'translate(14, -10) rotate(-45)';
            } else {
              return null;
            };
          });
        svg.append('g')
          .attr({
            class: 'axis y-axis',
            transform: 'translate(' + margin.left + ', 0)'
          })
          .call(yAxis)
          .selectAll('text')
          .each(function(d, i) {
            var el = d3.select(this);
            var parent = d3.select(this.parentNode);
            parent.append('foreignObject')
              .attr({
                x: -margin.left,
                y: -5,
                width: margin.left,
                height: 20 * 2
              })
              .append('xhtml:p')
              .attr({
                class: 'y-axis-label'
              })
            el.remove();
          });
        svg.selectAll('.active')
          .data(eventData)
          .enter()
          .append('rect')
          .attr({
            x: function(d) {
              return x(d.start) + margin.left + 1;
            },
            y: function(d, i) {
              return y(d.key) - 8;
            },
            width: 0,
            height: 50,
            fill: '#45a1Cf',
            class: 'active'
          })
          .transition()
          .attr({
            width: function(d) {
              return x(d.end) - x(d.start) - 1;
            }
          });
      },
      redrawTimeChart: function() {
        var currentWidth = window.innerWidth;

        window.addEventListener("resize", function() {
          if (currentWidth !== window.innerWidth) {
            var timer;

            if (timer !== false) {
              clearTimeout(timer);
            };

            timer = setTimeout(function() {
              d3.select('#time-chart').selectAll('*').remove();
              vm.makeTimeChart();
            }, 200);

            currentWidth = window.innerWidth;
          };
        });
      },
      makeEventDetailsMap: function() {
        var geocoder = new google.maps.Geocoder();
        var eventLocation;
        var mapLatLng;
        var markerLatLng;
        var map;
        var marker;

        geocoder.geocode({
          'address': '<%= @event.place %>',
          'region': 'jp'
        },function(results, status) {
            if (status === 'OK' && results[0]){
              eventLocation = results[0].geometry.location;
              mapLatLng = new google.maps.LatLng(eventLocation.lat(), eventLocation.lng());
              markerLatLng = new google.maps.LatLng({lat: eventLocation.lat(), lng: eventLocation.lng()});
              map = new google.maps.Map(vm.$refs.eventDetailPageMap, {
                center: mapLatLng,
                zoom: 10,
                mapTypeControl: false,
                streetViewControl: false,
                fullscreenControl: false,
                zoomControl: false,
              });
              marker = new google.maps.Marker({
                map: map,
                position: markerLatLng
              });

              marker.setMap(map);
            } else{
              alert('失敗しました。理由: ' + status);
            };
          }
        );
      },
      seeMoreContent: function(){
        this.$refs.contentContinueIcon.style.display = "none";
        this.$refs.contentAfterDisplaySentence.style.display = "inline";
        this.$refs.contentSeeMore.style.display = "none";
        this.$refs.contentCloseSeeMore.style.display = "block";
      },
      closeSeeMoreContent: function(){
        this.$refs.contentContinueIcon.style.display = "inline";
        this.$refs.contentAfterDisplaySentence.style.display = "none";
        this.$refs.contentSeeMore.style.display = "block";
        this.$refs.contentCloseSeeMore.style.display = "none";
      },
      seeMoreCautionaryNote: function() {
        this.$refs.cautionaryContinueIcon.style.display = "none";
        this.$refs.cautionaryAfterDisplaySentence.style.display = "inline";
        this.$refs.cautionarySeeMore.style.display = "none";
        this.$refs.cautionaryCloseSeeMore.style.display = "block";
      },
      closeSeeMoreCautionaryNote: function() {
        this.$refs.cautionaryContinueIcon.style.display = "inline";
        this.$refs.cautionaryAfterDisplaySentence.style.display = "none";
        this.$refs.cautionarySeeMore.style.display = "block";
        this.$refs.cautionaryCloseSeeMore.style.display = "none";
      },
    },
    mounted: function() {
      this.makeEventDetailsMap();
      this.makeTimeChart();
      this.redrawTimeChart();
    },
  });
</script>
