<h1>toppage</h1>

<% if logged_in? %>
  <%= link_to "ユーザー情報の変更", edit_user_path(current_user) %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
  <%= link_to "お問い合わせ", inquiry_input_path %>
  <%= link_to "イベント一覧", events_path %>
  <%= link_to "イベントの投稿", new_event_path %>
<% else %>
  <%= link_to '新規登録', signup_path %>
  <%= link_to 'ログイン', login_path %>
<% end %>

<div id="map"></div>
<div>
  緯度：<input type="text" name="lat" readonly>
  経度：<input type="text" name="lng" readonly><br>
  住所：<input type="text" name="address">
  <input type="button" id="search" value="検索">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh_J3NoIMD5Kv4oB7HX_XXuqRhJFtXNFA"></script>
<script>
  var map;
  var marker = [];
  var infoWindow = [];
  var currentInfoWindow = null;
  var geocoder = new google.maps.Geocoder();
  var markerDataArray = [];

  function initMap() {
    <% @events.each do |event| %>
      geocoder.geocode(
        {
          'address': '<%= event.place %>',
          'region': 'jp'   //地域を日本に設定
        },
          function (results, status) {
            if (status === 'OK' && results[0]){
              var mapLatLng = new google.maps.LatLng(35.681236,139.767125);   // マップの中心の緯度経度のデータ作成
              var pos = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
              var markerData = [
                {
                  name: '<%= event.name %>',
                  place: '<%= event.place %>',
                  lat: pos.lat(),
                  lng: pos.lng(),
                }
              ];

              // 'div#map'に地図を埋め込む
              map = new google.maps.Map(document.getElementById('map'), {
                center: mapLatLng,
                zoom: 10
              });

              // markerDataの数を数えるために、markerDataをmarkerDataArrayの中に入れる
              markerDataArray.push(markerData);

              // マーカー毎の処理
              for (var i = 0; i < markerDataArray.length; i++) {
                // マーカーの緯度経度のデータ作成
                markerLatLng = new google.maps.LatLng({lat: markerDataArray[i][0].lat, lng: markerDataArray[i][0].lng});

                // マーカーの追加
                marker[i] = new google.maps.Marker({
                  map: map,
                  position: markerLatLng
                });

                // 吹き出しの追加
                infoWindow[i] = new google.maps.InfoWindow({
                  content: '<div class="marker_name">' + markerDataArray[i][0].name + '</div>'
                            + '<div class="marker_place">' + markerDataArray[i][0].place + '</div>'
                });

                markerEvent(i);
              }

            }else{
              alert('失敗しました。理由: ' + status);
            }
          }
      );
    <% end %>
  }

  // マーカーをクリックした時に1件のみ吹き出しを表示する
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      if (currentInfoWindow) {
        currentInfoWindow.close();
      }

      infoWindow[i].open(map, marker[i]);
      currentInfoWindow = infoWindow[i];
    });
  }

  // 検索ボタンを押すと、住所から緯度と経度を算出する。
  $('#search').click(function () {
    var address = $('[name = address]').val();

    geocoder.geocode(
      {
        'address': address,
        'region': 'jp'   //地域を日本に設定
      },
      function (results, status) {
        if (status === 'OK' && results[0]) {
          var pos = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

          //取得した座標をマップに反映
          map.setCenter(results[0].geometry.location);

          //取得した座標を表示
          $('[name=lat]').val(pos.lat());
          $('[name=lng]').val(pos.lng());
        } else {
          alert('住所検索に失敗しました。住所が正しいか確認してください');
        }
      }
    );
  });

  window.onload = initMap();
</script>
