<%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="please-inquire">お問い合わせ</div>
      <div class="depend-on-device ui form">
        <div class="field">
          <div class="ui left aligned grid">
            <div class="inquiry-page-frame-of-label sixteen wide column">
              <%= f.label :name, 'ユーザー名' %>
            </div>
            <div class="inquiry-page-frame-of-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.text_field :name, :placeholder => "例：taro" %>
                <i class="user icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui left aligned grid">
            <div class="inquiry-page-frame-of-label sixteen wide column">
              <%= f.label :email, 'メールアドレス' %>
            </div>
            <div class="inquiry-page-frame-of-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.email_field :email, :placeholder => "例：case@example.com" %>
                <i class="mail icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui left aligned grid">
            <div class="inquiry-page-frame-of-label sixteen wide column">
              <%= f.label :message, 'お問い合わせ内容 (必須)' %>
            </div>
            <div class="inquiry-page-frame-of-input sixteen wide column">
              <div class="ui left icon huge input">
                <%= f.text_area :message, :placeholder => "例：イベントの投稿方法が分からないので教えていただきたいです。" %>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui center aligned grid">
            <%= button_tag :type => "submit", :class =>"ui blue submit button eight wide column", :id => "inquiry-page-frame-of-submit" do %>
              <i class="mail icon"></i>
              送信する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
