<header>
  <nav>
    <div class="ui center aligned grid">
      <div id="header-title" class="fourteen wide column">
        <h1>(アプリ名)</h1>
      </div>
    </div>

    <button type="button" id="nav-btn" class="hamburger">
      <span class="bdr"></span>
      <span class="bdr"></span>
      <span class="bdr"></span>
    </button>

    <div id="wrapper">
      <div class="menu">
        <ul>
          <% if logged_in? %>
            <li><%= link_to "イベント一覧", events_path %></li>
            <li><%= link_to "イベントの投稿", new_event_path %></li>
            <li><%= link_to "登録情報の変更", edit_user_path(current_user) %></li>
            <li><%= link_to "お問い合わせ", inquiry_input_path %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to '新規登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
            <li><%= link_to "お問い合わせ", inquiry_input_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  function hamburgerMenu () {
    const wrapper = document.getElementById('wrapper');
    const hamburger = document.getElementsByClassName('hamburger')[0];
    const navBtn = document.getElementById('nav-btn');

    function navToggle() {
      if (wrapper.classList.contains('nav-open')) {
        wrapper.classList.remove('nav-open');
      } else {
        wrapper.classList.add('nav-open');
      }
    }

    hamburger.addEventListener('click', function(){
      hamburger.classList.toggle('is-active')
    });

    navBtn.addEventListener('click', navToggle);
  };

  hamburgerMenu()
</script>
