<header id="header">
  <nav>
    <div class="ui center aligned grid">
      <div class="fourteen wide column" id="header-title">
        <h1 class="application-name">EventNavi</h1>
      </div>
    </div>
    <button type="button" class="hamburger" id="nav-btn" ref="hamburger" @click="navToggle()">
      <span class="bdr"></span>
      <span class="bdr"></span>
      <span class="bdr"></span>
    </button>
    <div id="wrapper" ref="wrapper">
      <div class="menu">
        <ul>
          <% if logged_in? %>
            <li><%= link_to 'イベントを探す', find_path %></li>
            <li><%= link_to "イベント一覧", events_path %></li>
            <li><%= link_to "イベントの投稿", new_event_path %></li>
            <li><%= link_to "登録情報の変更", edit_user_path(current_user) %></li>
            <li><%= link_to "お問い合わせ", inquiry_input_path %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to '新規登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
            <li><%= link_to "お問い合わせ", inquiry_input_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  new Vue({
    el: "#header",
    methods: {
      navToggle: function() {
        var hamburgerClass = this.$refs.hamburger.classList;
        var wrapperClass = this.$refs.wrapper.classList;

        hamburgerClass.toggle('is-active');
        wrapperClass.contains('nav-open') ? wrapperClass.remove('nav-open') : wrapperClass.add('nav-open');
      },
    },
  });
</script>
